body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6730cc;
    color: white;
    padding: 1px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #181818;
}

#buttonnav {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  text-shadow: none;
  background: white;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  margin: 1%;
}

#buttonnav:hover,
:focus {
  color: #ffffff;
  background: #6730cc;
  border: 1px solid #6730cc;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #6730cc, 0 0 20px #6730cc, 0 0 50px #6730cc,
    0 0 100px #6730cc;
}



nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}

.main-content a {
    color: black;
}

.article {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s ease; /* Transição suave em todas as propriedades */
}

.article:hover {
    background-color: #a182b9; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

.article:hover h2 {
    color: white; /* Muda a cor do h2 para branco no hover */
}

.article img {
    width: 60rem; /* Tamanho inicial */
    transition: width 0.3s ease, transform 0.3s ease; /* Transição suave para a largura e transformação */
    display: block; /* Garante que a imagem ocupe toda a largura do contêiner */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.article img:hover {
    width: 70rem; /* Novo tamanho no hover */
}

.article h2 {
    margin-top: 0;
}

.article p {
    font-size: 1rem;
    line-height: 1.6;
}

.article a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .article img {
        width: 100%; /* Ajusta a largura para 100% da tela em dispositivos menores */
    }

    .article img:hover {
        width: 100%; /* Garante que o hover também fique ajustado */
    }
}

        /* Estilo do marquee */
        .marquee-container {
            position: fixed;
            bottom: 0; /* Fixa o elemento na parte inferior da tela */
            width: 100%;
            overflow: hidden;
            background-color: #333;
            color: white;
            padding: 10px 0;
            white-space: nowrap;
            box-sizing: border-box;
            z-index: 1000;
        }

        .marquee {
            display: inline-block;
            animation: marquee 30s linear infinite;
        }

        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .crypto-item {
            margin-right: 50px;
        }